---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyA9CucPXf8WfL7K4HiMZzw5D8mXwrnX2XI&keyword=&language=en&location=38.92044000,-77.04232400&name=&radius=&rankby=distance&types=restaurant
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCGgEAABovq5YF3gnfLCub9Q3DRTSp2_RtvKOZHpfvNK0pCPvwzUl5xUmlrO57GJAxCLTahq-PLLRNMT9kyEG5REb7KPyz1V4sISdyG8y_9fpiCnpCgMQ4jmzBf1kGrDVadmAqxF1HM1aVgx4wPge-H2-OQNqOf41eEn6oqgbEsQR41GmtrPSRnDy8qy0YasaP0hmDuj0pBJBAuWPKfxXh-Xdje9vLuZdrXzo0PCtVbAhR0Hdhf4u6WHamzvhJbFN8T_eA94N3ClE4zqA8OWWKodOAh31DMNaPHKb5Mpco2CXLellcGHeY1DzS4sBX8ESJgJKTVZW0zXlM-i0znme6bypyO3TV_cgHK-MB_PUJXEDkxNl9wHKDMr6GcHtS2oW3F962mxIQYREcWitBYu_riuB_vXVhWRoUxcqRAoJWNUHaOtcsUfl-1dqjC-c",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 38.9207482,
                       "lng" : -77.0422219
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.9221131302915,
                          "lng" : -77.04079051970849
                       },
                       "southwest" : {
                          "lat" : 38.9194151697085,
                          "lng" : -77.04348848029151
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
                 "id" : "bcfb6c0b6a945e1a85cc8de88c8d2f90e0689c9e",
                 "name" : "Wok and Roll",
                 "opening_hours" : {
                    "open_now" : true,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 4032,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/109116569224615159040/photos\"\u003eRich Bell\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAC_X7VlUeIrHQKhm17nOZYgYZD-M2QOiTDkhNu14O0zYO2ySBOSTRQEgYhXM5mWwu3OPp90QT1DKJOo80Sn6fy3mG23bbj1SQv0-Qc4W9hVOcon3kzjwI0QyMzbfVBELVEhC5ffiLBuq9imjQxqBjQpDwGhR-f4AV5Hq0bvyIHeD1MDRc1Vy9AQ",
                       "width" : 3024
                    }
                 ],
                 "place_id" : "ChIJ4T3Ustu3t4kRdc5U454Plww",
                 "price_level" : 2,
                 "rating" : 3.7,
                 "reference" : "CmRRAAAAfpKZXX1yi1ZLxOBkvqacKEQpJT2Oss_qCGMOgn-7hhcmxfW3yG10jf70-zs4CBygn8FqrUNQhIqv-1cNJ9-Y4cmD7a7567AEQoJFMcHgwwwp1u_l3wZev9gX9bKHFus4EhBTDnajGV7tDionKr6UXzwBGhRbdzOTMRoF4m7sX3i86pF11s0R1g",
                 "scope" : "GOOGLE",
                 "types" : [ "restaurant", "food", "point_of_interest", "establishment" ],
                 "vicinity" : "2400 18 Street Northwest, Washington"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 38.9204955,
                       "lng" : -77.0416448
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.9218127802915,
                          "lng" : -77.0404438697085
                       },
                       "southwest" : {
        [...]
